.navbar {
  position: sticky;
  top: 0;
  display: flex;
  width: 90vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  background-color: #ffffff1b;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  margin: 2vw auto 0 auto;
  border-radius: 40px;
  border: 1px solid #b5b5b5;

  .left {
    h4 {
      font-size: 2.5rem;
    }
  }
  .right {
    // background-color: red;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: 2vw;

    .link {
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
    }
    .link:hover{
        color: greenyellow;
    }
  }
}
 .navbar::before{
    content:"";
    background: linear-gradient(to right ,white,greenyellow);
    border-radius: 50%;
    filter: blur(50px);
    opacity: 0.1;
    width: 30vw;
    height: 30vw;
    position: absolute;
    right: 0;
    z-index: 1;
  }
